body{
    background-color: pink;
}
h1{
    text-align: center;
    color: red;
    text-decoration: underline green;
}
h3{
    text-align: center;
    color: blue;
}
h2{
    color: rgb(8, 128, 128);
}
p{
    color: green;
}